  <div class="ui stackable celled grid container">
  <div class="three column row">
    <div class="column">  <div class="ui segment">Name: {{ charsheet?.name }}</div></div>
    <div class="column">  <div class="ui segment">Race: {{charsheet?.race}}</div></div>
    <div class="column">   <button class="ui icon button" (click)="removeSheet()">
        <i class="trash outline icon"></i>
      </button></div>
  </div>
  
  <div class="four column row">
    <div class="column"> <div class="ui segment">Class: {{charsheet?.dndclass}}</div></div>
    <div class="column">  <div class="ui segment">Level: {{charsheet?.level}} {{level}}</div></div>
    <div class="column"> <div class="ui segment">Hit Dice: {{charsheet?.level}}D{{charsheet?.hitDice}} </div></div>
    <div class="column"> <div class="ui segment">Spellcaster: {{charsheet?.spellcaster}}</div></div>
  </div>
 
  <div class="ui container">
    <div class="ui celled table">
      <thead>
        <tr>
        <th>Spell name</th>
        <th>Spell Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spell of charsheet?.spells">
        <td>{{spell?.name}}</td>
        <td>{{spell?.description}}</td>
        </tr>
      </tbody>
    </div>
  </div>
</div>