<!--app-char-sheet *ngFor="let localCharsheet of _charsheets" [charsheet] = 'localCharsheet'></app-char-sheet-->

<div class="ui segment">
    <div class="ui cards">
        <app-add-charsheet (newCharSheet)="newSheetAdded($event)">
        </app-add-charsheet>
    </div>
</div>


<div class="ui segment">
    <div class="ui cards">
            
        <app-char-sheet *ngFor='let localCharsheet of charsheets'    [charsheet] = localCharsheet></app-char-sheet>
        <!--app-char-sheet *ngFor='let localCharsheet of _sheetDataService._charsheets' [charsheet] = localCharsheet></app-char-sheet-->
    </div>
</div>

