<div class='ui large form segment'>
  <form class="ui form" [formGroup]='charsheet' (ngSubmit)='onSubmit()'>
    <h3>Add Charsheet</h3>
    <div class="field">
      <label for='name_id'>name:</label>
      <input type='text' id='name_id' formControlName='name'>
      <div class='ui pointing red basic label' *ngIf='charsheet.get("name").errors?.required && charsheet.get("name").touched'>
        A name is required
      </div>
    </div>

    <div class="field">
      <label for='race_id'>race:</label>
      <select id="race_id" formControlName='race'>
        <option *ngFor="let race of races">{{race}}</option>
      </select>

    </div>

    <div formArrayName='dndclass'>
      <div class="field">
        <label for='dndclass_name'> Class:</label>
        <div>
          <div class="field">
            <label for='dndclass_name'>class name:</label>
            <input type="text" id='dndclass_name' formControlName='classname'>
            <div class='ui pointing red basic label' *ngIf='charsheet.get("dndclass").get("classname").errors?.required && charsheet.get("dndclass").get("classname").touched'>
              A class name is required
            </div>
          </div>
          <div class="field">
            <label for='dndclass_hitdice'>hitdice:</label>
            <input type="number" min="1" id="dndclass_hitdice" formControlName='hitdice'>
          </div>
          <div class="field">
            <label for='dndclass_spellcaster'>spellcaster:</label>
            <br>
            <label class="switch">
              <input type="checkbox" id="dndclass_spellcaster" (change)='show=!show' formControlName='spellcaster' >
              <span class="slider round"></span>
            </label>
            <br>
          </div>
          <div class="field">
            <label for='dndclass_level'>level:</label>
            <input type="number" min="1" id="dndclass_level" formControlName='level'>
          </div>
        </div>
      </div>
    </div>

    <div class="field" *ngIf='show'>
   
    <div formArrayName='spells' *ngFor='let item of charsheet.get("spells").controls; 
    let i = index'>
      <div [formGroupName]='i'>
        <h3>Spells</h3>
        <div>
          <label for='spell_name'>spell name:</label>
          <input type="text" id="spell_name" formControlName='spellname'>
          <label for='spell_description'>spell description:</label>
          <input type="text" id="spell_description" formControlName='spelldescription'>
        </div>
      </div>
    </div>
  </div>
<br>
    <button type="submit" [disabled]="!charsheet.valid" class="ui positive button">Add Character sheet</button>
  </form>
</div>